<section>
  {% render 'text-hero'with  title: 'A drink you can feel good about', copy: 'Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper.' %}
</section>