<div class="embed-container">
  <iframe src="https://player.vimeo.com/video/344329099?autoplay=1&amp;loop=1" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
</div>