<div class="modal--age-gate modal modal--small bg-black text-white tac" data-js-behavior="ageGate" data-age>
  <div class="gutter-px-xs-3 gutter-px-sm-2 -pt-40 -pb-55 bps-pt-55 bps-pb-70">
    <button class="modal-close" data-modal-close>
      <span class="sr-only">close</span>
    </button>
    <h3 class="-s-heading -no-mt">Are you 21 or older?</h3>
    <p class="-caption bps-body -no-my">You must be of legal drinking age to purchase any Haus products.</p>
    <div class="-mt-30">
      <button class="btn btn--white" data-btn data-is-legal="true">Yes</button>
      <button class="btn btn--white" data-btn data-is-legal="false">No</button>
    </div>
  </div>
</div>