<a href="{{ to }}" class="btn {% if full %}btn--full{% endif %} {%if white %}btn--white{% endif %} {% if hollow %}btn--hollow{% endif %}" {% if external %}target="_blank" rel="noopener"{% endif %} {% if attrs %}{{ attrs }}{% endif %}>
  {{ text }}
</a>