<div class="newsletter">
  <h3 class="-no-mt -mb-10">Stay posted</h3>
  <p class="-no-mt">Let's be friends. Subscribe to our newsletter to receive updates on new launches, recipes, playlists, and more.</p>
  <form class="form inline-form form--white" data-js-behavior="newsletter">
    <div class="input-group -no-mt">
      <input class="form-control" type="email" id="email" placeholder="Your email address" required >
      <button class="form-control form-button -pl-5 text-white">
        <span class="-d-block bpm-d-none">
          <svg width="21" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.935 13.125l6.19-6.18-6.19-6.19-.7.71 4.98 4.98H.245v1h17.97l-4.98 4.98.7.7z"/></svg>
          <span class="sr-only">Submit Email to Newsletter</span>
        </span>
        <span class="-d-none bpm-d-block">Submit</span>
      </button> 
    </div>
  </form>
</div>
