<section class="-d-flex -justify-center -align-end hero--full-bleed rel" style="background-image: url(https://via.placeholder.com/1400x800)">
  <div class="-tac -px-15 -pb-45 bpm-pb-75 text-white col-sm-18 col-lg-16">
    <h1 class="hero--full-bleed__title -no-my">{{ title }}</h1>
    {% if copy %}
    <p class="-mt-5 -no-mb -d-none bpm-d-block">{{ copy }}</p>
    {% endif %}
  </div>
</section>