<div class="icon-text-block -d-flex -f-col bps-f-row -align-center -justify-center">
  <div class="icon-text-block__media -shrink-0 -mb-20 bps-no-mb bps-mr-20">
    <img class="w-100" src="{{ image[0].src }}" alt="{{ image[0].alt }}"/>
  </div>
  <div class="w-100 -caption bpm-body icon-body -tac bps-tal">
    <h3 class="label -no-mt -mb-5">{{ title }}</h3>
    <div class="-caption bpm-body">
      {{ copy }}
    </div>
  </div>
</div>