<div class="mini-cart bg-nurse" data-mini-cart data-js-behavior="miniCart">
  <div class="mini-cart__header-wrap" data-cart-header-wrap>
    <div class="mini-cart__header gutter-px-xs-1 gutter-px-lg-2 -pt-20" data-cart-header>           
      <div class="mini-cart__header-inner">
        <div id="mini-cart-bag"></div>
      
        <button class="btn-close" data-mini-cart-close>×</button>    
      </div>
    </div>
  </div>
  
  {% render 'react-cart' %}
</div>
<div class="mini-cart-bg" data-mini-cart-bg></div>