<div class="mobile-menu bg-black text-white abs -pt-20 -pb-30" data-js-behavior="mobileMenu">
<button class="mobile-menu__close text-white" data-mobile-close>
  {% render 'icon-close' %}
  <span class="sr-only">Close Menu</span>
</button>
  <div class="h-100 -d-flex -f-col -justify-between -align-start container gutter-px-xs-2">
    <div>
      <nav class="-mb-25">
        {% for link in linklists['main-menu'].links %}
          <a href="{{ link.url }}" class="text-white ttc tdn ros -d-block -s-heading -no-mt text-black {% unless forloop.last == true %}-mb-20{% endunless %}">
            {{ link.title }}
          </a>
        {% endfor %}    
      </nav>

      <nav class="-d-flex -f-col">
        {% for link in linklists['mobile-secondary'].links %}
          <a href="{{ link.url }}" class="text-white ttc tdn mobile-link button-text {% unless forloop.last == true %}-mb-25{% endunless %}">
            {{ link.title }}
          </a>
        {% endfor %}     
      </nav>
    </div>
    
    <form class="form form--white -mt-60" data-js-behavior="newsletter">
      <p class="-caption text-white">Get filled in on new flavors, pop-ups, collabs & more.</p>
      <div class="inline-form">
        <div class="input-group -no-mb">
          <input class="form-control" type="email" id="email" placeholder="Your email address" required >
          <button class="form-control form-button -pl-5 fill-white">
            <svg width="21" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.935 13.125l6.19-6.18-6.19-6.19-.7.71 4.98 4.98H.245v1h17.97l-4.98 4.98.7.7z"/></svg>
            <span class="sr-only">Submit Email to Newsletter</span>
          </button>
        </div>
      </div>
    </form>
  
  </div>
</div>