<div class="modal modal--small bg-black text-white tac" data-newsletter-modal>
  <div class="gutter-px-xs-3 gutter-px-sm-2 -pt-40 -pb-55 bps-pt-55 bps-pb-70">
    <button class="modal-close" data-modal-close>
      <span class="sr-only">close</span>
    </button>
    <h3 class="-s-heading -no-mt">From our Haus to yours</h3>
    <p class="-caption bps-body -no-my">Be the first to hear about new launches, drink recipes, playlists, and perks.</p>
    
    <div class="newsletter">
      <form class="form inline-form form--white" data-js-behavior="newsletter">
        <div class="input-group -no-mb">
          <input class="form-control" type="email" id="email" placeholder="Your email address" required >
          <button class="form-control form-button -pl-5 text-white">
            <span class="-d-block bpm-d-none">
              <svg width="21" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.935 13.125l6.19-6.18-6.19-6.19-.7.71 4.98 4.98H.245v1h17.97l-4.98 4.98.7.7z"/></svg>
              <span class="sr-only">Submit Email to Newsletter</span>
            </span>
            <span class="-d-none bpm-d-block">Submit</span>
          </button> 
        </div>
      </form>
    </div>
  </div>
</div>