{{ "swell-referral-history.css" | asset_url | stylesheet_tag }}

<section class="history-main">
	<div class="refe-history-grid-table">
 		<div class="refe-history-grid-table-section">
			<h3>Your referrals</h3>
	  	<div class="history-grid"></div> 
		</div>
	 		
		<div class="refe-history-grid-table-section">
			<h3>How do I redeem my rewards?</h3>
	  	<p>After someone uses your referral code to make a purchase of $50 or more, we'll send you a unique code via email, good for $10 off your next purchase.</p> 
		</div>
	</div>

</section> 


{{ "swell-referral-history.js" | asset_url | script_tag }}
