<div class="value-prop__content">
  <h3 class="-s-heading -no-mt">Value Prop Title</h3>
  <p class="-caption bpm-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptatibus eum beatae veritatis, possimus ab ut quisquam sint, veniam laboriosam nisi. Architecto quaerat mollitia dignissimos rem, perferendis delectus voluptas esse?</p>
</div>