{% for block in section.blocks %}
  {% if block.type == '50-50-hero' %}
    {% assign hero_image = block.settings.image | img_url: '2400x' %}
    {% assign mobile_hero_image = block.settings.mobile_image | img_url: '2400x' %}

    {% 
      render 'fifty-fifty-hero' 
      title: block.settings.title,
      subtitle: block.settings.text,
      cta_text: block.settings.cta_text,
      cta_url: block.settings.cta_url,
      desktop_image: hero_image, 
      mobile_image: mobile_hero_image,
      bg_color: block.settings.bg_color
    %}

    {% if page.metafields.testimonial.text != blank %}
      {%
        render 'testimonial-block' with
          bg_color: page.metafields.testimonial_config.bg_color,
          text: page.metafields.testimonial.text,
          source: page.metafields.testimonial.source
      %}
    {% endif %}
    
  {% endif %}
  
  {% if block.type == 'hero' %}
    {% assign hero_image = block.settings.image | img_url: '2400x' %}
    {% assign mobile_hero_image = block.settings.mobile_image | img_url: '2400x' %}

    {% 
      render 'hero--full-bleed', 
      title: block.settings.title, 
      copy: block.settings.text,

    %}

    {% if page.metafields.testimonial.text != blank %}
      {%
        render 'testimonial-block' with
          bg_color: page.metafields.testimonial_config.bg_color,
          text: page.metafields.testimonial.text,
          source: page.metafields.testimonial.source
      %}
    {% endif %}

  {% endif %}
  
  {% if block.type == 'featured-product' %}
    {% assign product = block.settings.product %}
    {% render 'featured-product' with product as handle, 
      bg_color: block.settings.bg_color,
      eyebrow: block.settings.eyebrow,
      eyebrow_icon: block.settings.eyebrow_icon,
      show_reviews: block.settings.show_reviews,
      alignment: block.settings.alignment
      description: block.settings.description,
      section_title: block.settings.title,
      section_eyebrow: block.settings.section_eyebrow,
      button_type: block.settings.button_type
    %}

  {% endif %}

  {% if block.type == 'collection-set' %}
    {% 
      render 'product-grid', 
      bg_color: block.settings.bg_color,
      collection: block.settings.collection,
      title: block.settings.title,
      eyebrow_icon: block.settings.eyebrow_icon,
      eyebrow: block.settings.eyebrow,
      copy: block.settings.copy,
      cta_text: block.settings.cta_text,
      cta_url: block.settings.cta_url,
      cta_type: block.settings.cta_type,
      action_type: block.settings.button_type,
      has_mobile_carousel: block.settings.mobile_carousel,
      enable_notes: block.settings.enable_notes
    %}
  {% endif %}
  
  {% if block.type == 'text-block' %}
    <div class="container">
      <div class="gutter-x-sm-1 -py-30 bpm-py-60 b-bottom-divider">
        {% render 'text-block' with
          title: block.settings.title,
          copy: block.settings.copy,
          cta_text: block.settings.cta_text,
          cta_url: block.settings.cta_url,
          cta_type: block.settings.cta_type
        %}
      </div>
    </div>
  {% endif %}
  
  {% if block.type == 'content-block' %}
    {% assign alignment = block.settings.alignment %}
    {% assign image_last = false %}
    {% if alignment == 'right' %}
      {% assign image_last = true %}  
    {% endif %}
    
    {% if block.settings.full_bleed %}
      {% render 'content-block--full-bleed' with 
        image: block.settings.image, 
        title: block.settings.title,
        copy: block.settings.copy,
        no_border: true
        cta_text: block.settings.cta_text,
        cta_url: block.settings.cta_url,
        bg_color: block.settings.bg_color,
        alignment: block.settings.alignment
        image_last: image_last
      %}
    {% else %}
      {% 
        render 'content-block' with
        image: block.settings.image, 
        title: block.settings.title,
        copy: block.settings.copy,
        no_border: true
        cta_text: block.settings.cta_text,
        cta_url: block.settings.cta_url,
        full_bleed: block.settings.full_bleed,
        bg_color: block.settings.bg_color,
        alignment: block.settings.alignment,
        image_last: image_last
      %}
    {% endif %}
  {% endif %}
  
  {% if block.type == 'testimonial' %}
    {% render 'testimonial-block' with 
      text: block.settings.title,
      source: block.settings.source,
      bg_color: block.settings.bg_color
    %}
  {% endif %}
{% endfor %}

<script>
  window.whiteNav = {{ section.settings.white_nav | json }}
</script>

{% schema %}
  {
    "name": "Duo Promo",
    "settings": [
      {
        "id": "white_nav",
        "type": "checkbox",
        "label": "White Nav Text",
        "info": "This should only be used in conjunction with dark images"
      },

      {
        "id": "image",
        "type": "image_picker",
        "label": "Featured Image"
      },
      {
        "id": "title",
        "type": "text",
        "label": "Title"
      },
      {
        "id": "copy",
        "type": "text",
        "label": "Copy"
      }
    ],
    "blocks": [
      {
        "name": "Hero",
        "type": "hero",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Hero Image"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "text",
            "type": "text",
            "label": "Text"
          }
        ]
      },
      {
        "name": "50/50 Hero",
        "type": "50-50-hero",
        "settings": [
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color"
          },
          {
            "id": "image",
            "type": "image_picker",
            "label": "Hero Image"
          },
          {
            "id": "mobile_image",
            "type": "image_picker",
            "label": "Mobile Hero Image"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "text",
            "type": "text",
            "label": "Text"
          },
          {
            "id": "cta_text",
            "type": "text",
            "label": "CTA Text"
          },
          {
            "id": "cta_url",
            "type": "url",
            "label": "CTA Link"
          }
        ]
      },
      {
        "name": "Featured Product",
        "type": "featured-product",
        "settings": [
          {
            "type": "select",
            "id": "button_type",
            "default":   "shopnow",
            "options": [
              { "value": "shopnow", "label": "Shop Now - Redirect to PDP" },
              { "value": "quickadd", "label": "Quick Add - Add 1st variant" }
            ],
            "label": "Button Action"
          },
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Section Title"
          },
          {
            "type": "text",
            "id": "section_eyebrow",
            "label": "Section Eyebrow Text"
          },
          {
            "type": "text",
            "id": "eyebrow",
            "label": "Eyebrow Text"
          },
          {
            "id": "eyebrow_icon",
            "type": "image_picker",
            "label": "Eyebrow Icon",
            "info": "Eyebrow text must be present to display the icon"
          },
          {
            "type": "checkbox",
            "id": "show_reviews",
            "label": "Show Yotpo Star Count"
          },
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color"
          },
          {
             "type": "select",
             "id": "alignment",
             "label": "Component Alignment",
             "options": [
               {
                 "value": "left",
                 "label": "Left Align"
               },
               {
                 "value": "right",
                 "label": "Right Align"
               }
             ],
             "default": "left",
             "info": "Determines the layout of the featured product"
          }
        ]
      },
      {
        "type":"collection-set",
        "name":"Collection Select",
        "settings":[
          {
             "type": "color",
             "id": "bg_color",
             "label": "Background Color (optional). If selected, text will be white"
          },
          {
             "type": "select",
             "id": "button_type",
             "options": [
                { "value": "default", "label": "Default - Variant Select"},
                { "value": "shopnow", "label": "Shop Now - Redirect to PDP"},
                { "value": "quickadd", "label": "Quick Add - Add 1st variant"}
             ],
             "label": "Button Action"
          },
          {
            "id": "enable_quickadd",
            "type": "checkbox",
            "label": "Enable Quick Add",
            "info": "Allow a user to immediately add product to cart from the button"
          },
          {
            "id": "enable_notes",
            "type": "checkbox",
            "label": "Enable Flavor Notes",
            "info": "Display flavor notes per product card."
          },
          {
            "id": "collection",
            "type": "collection",
            "label": "Collection Set"
          },
          {
            "id": "eyebrow_icon",
            "type": "image_picker",
            "label": "Eyebrow Icon",
            "info": "Eyebrow text must be present to display the icon"
          },
          {
            "id": "eyebrow",
            "type": "text",
            "label": "Eyebrow"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "copy",
            "type": "text",
            "label": "Description"
          },
          {
            "id": "cta_text",
            "type": "text",
            "label": "CTA Text"
          },
          {
            "id": "cta_url",
            "type": "url",
            "label": "CTA Link"
          },
          {
            "id": "cta_type",
            "type": "checkbox",
            "label": "Enable Text Link"
          },
          {
            "id": "mobile_carousel",
            "type": "checkbox",
            "label": "Enable Mobile Carousel",
            "info": "For best outcomes please select the 'Shop Now' button action."
          }
        ]
      },
      {
        "type": "text-block",
        "name": "Text Block",
        "settings":[
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "copy",
            "type": "text",
            "label": "Description"
          },
          {
            "id": "cta_text",
            "type": "text",
            "label": "CTA Text"
          },
          {
            "id": "cta_url",
            "type": "url",
            "label": "CTA Url"
          },
          {
            "type": "select",
            "id": "button_type",
            "label": "Text",
            "options": [
              {
                "value": "text-link",
                "label": "Text Link"
              },
              {
                "value": "btn",
                "label": "Button"
              }
            ],
            "default": "text-link",
            "info": "Will display CTA as text-link or button"
          }
        ]
      },
      {
        "type": "content-block",
        "name":"Image + Text Block",
        "settings":[
          {
            "type": "select",
            "id": "alignment",
            "label": "Alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "left",
            "info": "Alters the image + text alignment. Default is 'Left'"
          },
          {
            "id": "bg_color",
            "type": "color",
            "label": "Background color. If selected, text color will be white."
          },
          {
            "id": "full_bleed",
            "type": "checkbox",
            "label": "Make Image Full Bleed"
          },
          {
            "id": "image",
            "type": "image_picker",
            "label": "Featured Image"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "copy",
            "type": "richtext",
            "label": "Copy"
          },
          {
            "id": "cta_text",
            "type": "text",
            "label": "CTA Text"
          },
          {
            "id": "cta_url",
            "type": "url",
            "label": "CTA Link"
          }
        ]
      },
      {
        "name": "Testimonial",
        "type": "testimonial",
        "settings": [
          {
            "id": "bg_color",
            "type": "color",
            "label": "Background Color"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Quote Text"
          },
          {
            "id": "source",
            "type": "text",
            "label": "Attribution"
          }
        ]
      }
    ]
  }
{% endschema %}
