<section>
  <div class="bpm-mw-80 bpl-px-60">
    <h1 class="tac -m-heading bpl-l-heading -no-mt -mb-35">{{ section.settings.title }}</h1>

    <div class="embed-container">
      <video controls >
        <source src="{{ section.settings.video }}#t=0.1" type="video/mp4">
      </video>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Video Hero",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "video",
        "label": "Video URL"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Video Poster Image"
      }
    ]
  }
{% endschema %}