
<div class="container -py-80">
  <div class="-d-table -mx-auto col-xs-full col-md-12">
    <h1 class="ros-cond tac -s-heading bpm-l-heading bpl-xl-heading -mb-20 bpl-mb-30">This glass is half empty</h1>
    
    <div class="-tac">
      <p class="-caption bpm-body -mb-30 bpm-mb-50">Our deepest apologies, but the page you requested either got moved or doesn't exist.</p>
      
      {% render 'button' with text: 'Continue Shopping', to: '/collections/shop', hollow: true %}
    </div>    
  </div>
</div>
