<div class="py-md">

  <div class="template-cart__header gutter-px-lg-1 -mb-25">
    {% render 'text-hero', title: 'Your Cart' %}
  </div>
  
  {% render 'react-cart' %}
  
</div>

{% comment %} Sezzle {% endcomment %}
<script src="https://widget.sezzle.com/v1/javascript/price-widget?uuid=a49232b7-fcc8-4126-b938-11ba2520a47f"></script>