
<div class="container -py-80">
  <div class="-d-table -mx-auto col-xs-full col-md-12">
    <h1 class="tac -m-heading bpm-l-heading bpl-xl-heading -mb-40 bpm-mb-60 ros-cond">{{ page.title }}</h1>

    <div class="rte wysiwyg-content" data-js-behavior="pageContent">
      {{ page.content }}
    </div>    
  </div>
</div>
