<section class="referral referral-widget-wrap" style="padding-top: 96px;">
  <div class="yotpo-widget-instance" data-yotpo-instance-id="7523"></div>
  <div class="referral__terms tac">
    <p><a href="/pages/terms/#referral" class="referral__terms-link">See Terms & Conditions</a></p>
  </div>
</section>
